@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans-Regular-webfont.woff);
}

@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans-Bold-webfont.woff);
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans-Italic-webfont.woff);
    font-style: italic;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-color: rgb(67, 145, 207);
    --bg-color: rgb(227, 232, 239);
}

body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 40px;
    gap: 30px;
}

.search-bar {
    width: 80%;
    height: 25px;
    background-color: var(--bg-color);
    border-radius: 50px;
}

.action-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    align-items: center;
    justify-content: end;
}

.action-btn {
    background-color: var(--sidebar-color);
    text-align: center;
    border-radius: 50px;
    padding: 4px 0px;
    width: 90px;
    color: white;
    font-weight: 600;
}

ul {
    list-style: none;
}

.user-nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.greeting-box > :last-child > :first-child {
    font-size: 0.7rem;
    font-weight: bold;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--sidebar-color);
    grid-row: 1 / -1;
}

.sidebar-content {
    display: grid;
    align-items: start;
    padding: 10px;
    gap: 40px;
    color: white;
}

.sidebar-content > :first-child {
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar-content ul > li:not(:first-child) {
    margin-top: 10px;
}

/* MAIN */

.main {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 30px 20px 0px 20px;
    gap: 30px;
    margin-bottom: 40px;
}

.projects {
    grid-row: 1 / -1;
}

.projects > :first-child,
.announcements > :first-child,
.trending > :first-child {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: white;
    max-width: 400px;
    height: 250px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card .text {
    flex: 1;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    width: 6px;
    background-color: rgb(231, 181, 74, 0.9);
    border-radius: 50px;
}

.heading {
    font-weight: bold;
    margin-bottom: 5px;
}

.announcements-wrapper {
    background-color: white;
    padding-inline: 30px;
}

.announcements-wrapper > * {
    padding-block: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.announcements-wrapper > *:not(:last-child) {
    border-bottom: 1px solid rgb(181, 179, 179);
}

.announcements .heading {
    font-size: 0.9rem;
}

.announcements .text {
    font-size: 0.8rem;
} 

.trending {
    margin-top: 45px;
}

.trending-wrapper {
    display: grid;
    background-color: white;
    padding: 10px 20px;
}

/* Add icons */
.search-bar-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.projects-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.utilities > li,
.settings > li {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}

.utilities > li > img,
.settings > li > img {
    justify-self: center;
    filter: brightness(0) invert(1);
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-box {
    display: flex;
    min-width: 300px;
    align-items: center;
    gap: 10px;
}

.greeting-box .user-icon,
.trending .user-icon {
    width: 50px;
    height: 50px;
}

.greeting-box .user-icon img,
.trending .user-icon img
 {
    width: 30px;
    height: 30px;
}

.trending-wrapper > * {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 15px;
    align-items: center;
    padding: 10px;
}

.trending-wrapper > :nth-child(1) .user-icon {
    background-color: rgba(0, 0, 255, 0.198);
}

.trending-wrapper > :nth-child(3) .user-icon {
    background-color: rgba(0, 128, 0, 0.302);
}

.trending-wrapper > :nth-child(4) .user-icon {
    background-color: rgba(255, 0, 0, 0.36);
}

.sidebar-content > :first-child {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 15px;
}

.sidebar-content > :first-child img {
    filter: brightness(0) invert(1);
    width: 35px;
    height: 35px;
}

.sidebar-content > :first-child div {
    align-self: center;
}